@import "../../scss/_variables";

.device-list {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;

  @media (min-width: $desktop-min) {
    width: 90%;
    padding-top: 25px;
  }

  &__header {
    background-color: $color-bg-dark-grey;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px 20px;

    &--right {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media (min-width: $tablet-min) {
        display: inline-block;
        float: right;
        width: inherit;
      }
    }
  }

  &__title {
    color: $text-color-title;
    margin-bottom: 20px;
  }
}

.add-item-button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.hide-enter {
    opacity: 0;
    transform:   translate(-1000px,0);
    transform: translate3d(-1000px,0,0);
}

.hide-enter.hide-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 200ms;
}

.hide-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 200ms;
}

.hide-leave.hide-leave-active {
	opacity: 0;
	transform:   translate(1000px,0);
	transform: translate3d(1000px,0,0);
}