@import "../../scss/_variables";

.device-list {

  @media (min-width: $tablet-min) {
    width: 90%;
    margin: 0 auto;
  }

    &__header {
        background-color: $color-bg-dark-grey;
        border-radius: 5px;
        margin-bottom: 30px;
  }
}

.add-item-button {
    margin: 15px;
    display: inline-block;
    color: $text-color-input;
    background-color: $input-bg;
    border-radius: 50%;
    border: 1px $border-color solid;
    font-size: 40px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align:center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    vertical-align: middle;

    &:hover {
      color: #ffffff;
      background-color: $input-bg-active;
      border-color: $border-color-hover;
    }
}