@import "/../../scss/variables";

.line {
    fill: none;
    stroke: #42ff42;
    stroke-width: 2px;
}
.dot{
  fill:black;
  stroke:#fff;
  stroke-width:3px;
}
.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.grid path,
.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.tick{
  line{
    stroke:$border-color-hover;
    opacity: 1;
  }
  text{
    fill:#fff;
  }
}