<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper block">
        <header class="header block">
            <div class="title block">header</div>
        </header>
        <main class="main block">
            <aside class="sidebar block">
                <div class="sidebar-title">sidebar</div>
                <ul class="sidebar-menu">
                    <li><a class="main-dashboard" href="#">Main dashboard</a></li>
                    <li><a href="#">home</a>
                        <ul>
                            <li><a class="kitchen" href="#">kitchen</a></li>
                            <li><a href="#">hall</a></li>
                            <li><a href="#">bath</a></li>
                            <li><a href="#">bathroom</a></li>
                            <li><a href="#">children room</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </aside>
            <section class="content block">
                <div class="content-title">content</div>
                <div class="content-indicators">
                    <div class="indicators">
                    </div>
                </div>
                <div class="kitchen-devices">
                    <div class="kitchen-devices-menu">
                        <div class="tv block device-prop">TV</div>
                        <div class="conditioner block device-prop">conditioner</div>
                        <div class="fridge block device-prop">fridge</div>
                    </div>

                </div>
            </section>
        </main>
        <footer class="footer block">
            <div class="footer-content">footer</div>
        </footer>
    </div>

    <script src="./js/main.js">
    </script>

</body>

</html>