.value_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 350px;
    height: 50px;
    border: 2px solid lightgrey;
    background-color: white;
    border-radius: 7px;
}

.value_input {
    display: flex;
    width: 100px;
    padding: 3px;
    font-size: 17px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
}

.css-input:focus {
  outline: none;
}

.delete_value {
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 10px 8px;
    border: 0px solid #b3b3b3;
    border-radius: 20px;
    font: normal normal bold 13px arial;
    color: #111111;
    background-color: white;
    text-decoration: none;
}
.delete_value:hover,
.delete_value:focus {
    border: 0px solid #ffffff;
    color: #111111;
    text-decoration: none;
}
.delete_value:active {
    background: linear-gradient(to bottom, #b3b3b3, #b3b3b3);
}
.delete_value:before{
    content:  "\0000a0";
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -1px;
    left: 4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAjklEQVRIie2VOw7AIAxDrR6AA1YR9986IdYuBSGVT2Jgw3OMk6cAwBEht9PrADwAhDjcf95hiAcQjSFi9SSDV9Smhm5DQ9kYBiGphkGaD2iNbsbSUg0XjaWlEtc0ll5IhBHLtboLViUWwWJEtW1ZtkG9bZkO0WwLjcvSnXkS5hKpQ2aea4Hyud764Rz99ALwATC5VC7pcwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}
