@import '../../scss/_variables.scss';

.list-device {
  border: 1px solid $border-color;
  background-color: $text-color-active;
  width: 75%;
  // height: 185px;
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.device-single {
    width: 30%;
}
.device-item-name_and_power {
  display: flex;
  align-items: center;
}