.dashboard-devices-and-persons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 45%;
}

.dashboard-notification {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 45%;
}
