.dashboard-block {
  width: 85%;
  margin: 38px 0 0 161px;
  height: 500px;
  border: 1px solid blue;
  // background-image: url('../../img/dash_content.jpg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  
}

.dashboard-devices-persons {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  width: 100%;
  height: 45%;
}

.dashboard-notification {
  display: flex;
  border: 1px solid green;
  width: 100%;
  justify-content: center;
  height: 45%;
}
