@import "/../../scss/variables";

.settings-block{
  display: flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.settings{
  width:35%;

  .item-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: $color_orange;

    .item-header__delete-btn{
      position:relative;
      width:15px;
      height:15px;
      border: 0px;
      background: transparent;
      cursor:pointer;
      &::before,&::after{
        position:absolute;
        content: ' ';
        height: 15px;
        left:6px;
        top:0;
        width: 2px;
        background-color: #fff;
      }
      &:hover::before,&:hover::after{
          background-color: #000;
          cursor:pointer;
      }
      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
      }
    }

  }
}