@import "../../scss/_variables.scss";

.content {
    margin: 51px auto;
    padding: 0 15px;

  @media (min-width: $tablet-min) {
    margin: 51px 0 0 75px;
    overflow-y: scroll;
    height: calc(100vh - 51px);
  }

  @media (min-width: $desktop-min) {
    margin-left: 161px;
  }
}