@import '../../scss/_variables.scss';

.list-persons {
  border: 1px solid $border-color;
  background-color: $text-color-active;
  width: 20%;
  margin: 10px;
  margin-left: 5px;

  li {
    padding: 5px;
    margin-left: 10px;
  }
}
