.timer_set {
  display: block;
    margin: 0 auto;
    margin-top: 20px;
}

input::-webkit-datetime-edit {
  border: 2px solid #f6a821;
  border-radius: 3px;
}

input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-second-field:focus {
  background-color: #848c94;
  opacity: 0.6;
}