.timer_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 350px;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 7px;
  background-color: #F1614B;
}

.device_name {
  display: flex;
  font-size: 20px;
  font-family: "Georgia";
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  border-right: 1px solid lightgrey;
}

.delete_timer {
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 10px 8px;
    border: 0px solid #b3b3b3;
    border-radius: 20px;
    font: normal normal bold 13px arial;
    color: #111111;
    background-color: #F1614B;
    text-decoration: none;
}
.delete_timer:hover,
.delete_timer:focus {
    border: 0px solid #ffffff;
    color: #111111;
    text-decoration: none;
}
.delete_timer:active {
    background: linear-gradient(to bottom, #b3b3b3, #b3b3b3);
}
.delete_timer:before{
    content:  "\0000a0";
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -1px;
    left: 4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAjklEQVRIie2VOw7AIAxDrR6AA1YR9986IdYuBSGVT2Jgw3OMk6cAwBEht9PrADwAhDjcf95hiAcQjSFi9SSDV9Smhm5DQ9kYBiGphkGaD2iNbsbSUg0XjaWlEtc0ll5IhBHLtboLViUWwWJEtW1ZtkG9bZkO0WwLjcvSnXkS5hKpQ2aea4Hyud764Rz99ALwATC5VC7pcwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

.timer_set {
    display: flex;
    margin: 0 auto;
}

input::-webkit-datetime-edit {
  border: 2px solid darkblue;
  border-radius: 3px;
}

input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-second-field:focus {
  background-color: lightgrey;
}
