.m-time {
  color: #f5f5f5;
  padding-top: 20px;

  .showtime {
    text-align: center;
  }

  .separater {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: #f5f5f5;
    width: 32px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

  .time-text {
    position: relative;
    font-size: 15px;
    color: #f5f5f5;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .sliders {
    padding: 20px 10px;
    margin-top: -15px;
    text-align: center;
  }

  .time {
    width: 65px;
    height: 65px;
    display: inline-block;
    font-size: 38px;
    line-height: 65px;
    border: 1px solid #f6a821;
    border-radius: 3px;
    text-align: center;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 55%;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 1px solid rgba(159, 123, 27, 0.94);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background-color: #f6a821;
  opacity: 0.6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
  background: #2f323b;
  border-radius: 0px;
  border: 1px solid rgba(159, 123, 27, 0.94);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  background: rgba(77, 139, 219, 0.41);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]:hover ~ #range_value,
input[type="range"]:active ~ #range_value {
  filter: alpha(opacity=100);
  opacity: 1;
}

input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(159, 123, 27, 0.94);
  border-radius: 0px;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(159, 123, 27, 0.94);
  border-radius: 0px;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  background: rgba(77, 139, 219, 0.41);
  cursor: pointer;
  height: 1.8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0);
}