@import "/../../scss/variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.device-form {
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  background-color: $color_dark_grey;
  color:$text_color_active;
  label {
    display: inline-block;
    margin-bottom: 15px;
  }

  div {
    padding: 10px 0;
  }
  .input-container {
    display: inline-block;
    width: 35%;
    input, select {
      background-color: $color_grey;
      color: $text_color_input;
      padding: 5px;
      border-radius: 3px;
      border: none;
      height: 30px;
      width: 80%;
      option {
      }
    }
  }
  .form-button {
    color: $text_color_input;
    border: 1px solid $color_orange;
    background-color: $color_grey;
    padding: 5px;
    border-radius: 3px;
    width: 15%;
    margin-right: 15px;
  }
  .main-button {
    background-color: $color_orange;
    border: none;
    color: $text_color_active;
  }
}

