@import "../../scss/_variables.scss";

.mob-hide {
  display: none;

  @media (min-width: $tablet-min) {
    display: block;
  }
}

.navigation {
  position: fixed;
  background-color: $color-bg-grey;
  top: 51px;
  bottom: 0;
  padding-top: 20px;
  
  li {
    padding: 10px 30px;
    list-style-type: none;

    a {
      color: $text-color-active;
    }
  }
}

.navigation-item {
  margin-bottom: 20px;
}

.navigation .active {
  color: $color_orange;
}