@import "../../scss/_variables.scss";

.navigation {
  position: fixed;
  height: 100%;
  background-color: #364150;
  top: 51px;
  bottom: 0;
  padding-top: 20px;
  

  li {
    padding: 10px 30px;
    list-style-type: none;

    a {
      color: #fff;
    }
  }
}

.navigation_wrapper{
  width: 15%;
}

.navigation-item {
  margin-bottom: 20px;

}

.navigation .active {
  color: $color_orange;
}