@import '../../scss/_variables.scss';

.list-persons {
  border: 1px solid $border-color;
  width: 20%;
  margin: 10px;
  margin-left: 5px;
  height: 185px;
  overflow: scroll;

  li {
    padding: 5px;
    margin-left: 10px;
  }
}
