.range_block {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
  align-items: baseline;
  border: 2px solid lightgrey;
  background-color: white;
  border-radius: 7px;
}

.device_name {
  display: flex;
  font-size: 20px;
  font-family: "Georgia";
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  border-right: 1px solid lightgrey;
}

.range_value {
  display: flex;
  font-family: "Georgia";

}

.delete_range {
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 10px 8px;
    border: 0px solid #b3b3b3;
    border-radius: 20px;
    background: #ffffff;
    font: normal normal bold 13px arial;
    color: #111111;
    text-decoration: none;
}

.delete_range:hover,
.delete_range:focus {
    border: 0px solid #ffffff;
    background: #ffffff;
    color: #111111;
    text-decoration: none;
}

.delete_range:active {
    background: #b3b3b3;
    background: linear-gradient(to bottom, #b3b3b3, #b3b3b3);
}

.delete_range:before{
    content:  "\0000a0";
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -1px;
    left: 4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAjklEQVRIie2VOw7AIAxDrR6AA1YR9986IdYuBSGVT2Jgw3OMk6cAwBEht9PrADwAhDjcf95hiAcQjSFi9SSDV9Smhm5DQ9kYBiGphkGaD2iNbsbSUg0XjaWlEtc0ll5IhBHLtboLViUWwWJEtW1ZtkG9bZkO0WwLjcvSnXkS5hKpQ2aea4Hyud764Rz99ALwATC5VC7pcwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

input[type=range] {
  display: flex;
  -webkit-appearance: none;
  width: 200px;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 1px solid rgba(159, 123, 27, 0.94);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  background-color: lightgrey;
  opacity: 0.7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 1px solid rgba(159, 123, 27, 0.94);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  background: rgba(77, 139, 219, 0.41);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]:hover ~ #range_value,
input[type="range"]:active ~ #range_value {
  filter: alpha(opacity=100);
  opacity: 1;
}

#range_value {
  color: black;
  font-size: 12px;
  text-align: center;
  font-family:  Georgia, sans-serif;
  display: block;
  margin: 20px 0;
  position: relative;
  left: 39.5%;
  padding: 6px 12px;
  width: 10px;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 0.5s ease;
  top: -95px;
}

input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(159, 123, 27, 0.94);
  border-radius: 0px;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(159, 123, 27, 0.94);
  border-radius: 0px;
  box-shadow: 2.8px 2.8px 8.6px rgba(148, 83, 40, 0.39), 0px 0px 2.8px rgba(168, 94, 45, 0.39);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  background: rgba(77, 139, 219, 0.41);
  cursor: pointer;
  height: 1.8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0);
}
