@import '../../scss/_variables';

.avatar-image {
  background-image: url("../../img/avatar2.png");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-orange;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.person-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}