@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.clearfix::after,
.container::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.flex{
  display:flex;
}