@import "./variables";
@import "./buttons";
@import '../../node_modules/react-select/dist/react-select.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&amp;subset=cyrillic');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

.clearfix::after,
.container::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

input[type="text"],input[type="select"],input[type="number"], select{
  display: inline-block;
  height: 34px;
  color: $text-color-active;  
  border: 1px solid;
  border-radius: $border-radius;
  background-color: rgba(97, 103, 121, 0.1);
  padding: 5px 10px;
  font-size: 14px;
  box-sizing: border-box;
  outline: 0;
  transition: background-color 0.5s ease;

    &:hover{
    color: #ffffff;
    background-color: rgb(73, 75, 84);
    border-color: #798094;
  }
}
