@import "/../../scss/variables";

.DeviceProto{
  margin: 3% 4%;
  border-radius: 10px;
  background: $color-bg-dark-grey;
  color:$text-color-active;
  text-align:center;

  h3{
    padding: 20px 0;
    border-bottom: 1px solid $color-orange ;
    background: $color_orange;
    margin-bottom: 20px;
  }
}