@import "/../../scss/variables";

.DeviceProto{
  margin: 0 4%;
  margin-top: 3%;
  background: $color_dark_grey;
  color:$text_color;
  text-align:center;

  h3{
    padding: 20px 0;
    margin: 20px;
    border-bottom: 1px solid $color_orange ;
  }
}