@import "/../../scss/variables";

.DeviceProto{
  margin: 3% 4%;
  border-radius: 10px;
  background: $color_dark_grey;
  color:$text_color_active;
  text-align:center;

  h3{
    padding: 20px 0;
    background: $color_orange;
    margin-bottom: 20px;
  }
}